.messy-layout {
  position: relative;
}

.messy-layout > div:first-child {
  position: unset;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  margin-top: 20px;
}

.messy-layout > div:last-child {
  position: unset;
  width: 100%;
  margin-top: 10px;
}

.messy-layout::after {
  content: "";
  display: block;
}



